// d-flex align-items-center justify-content-between
.capitilize {
  text-transform: capitalize;
}

.d-flex {
  display: flex;
}

.align-items {
  &-center {
    align-items: center;
  }
}

.justify-content {
  &-between {
    justify-content: space-between;
  }
}

.cropper-background {
  background: none !important;
}

.relative {
  position: relative !important;
}

.cursor-pointer {
  cursor: pointer;
}
