// d-flex align-items-center justify-content-between
.capitilize {
  text-transform: capitalize;
}
.w-100 {
  width: 100%;
}
.d-flex {
  display: flex;
}

.align-items {
  &-center {
    align-items: center;
  }
}

.justify-content {
  &-between {
    justify-content: space-between;
  }
}

.cropper-background {
  background: none !important;
}

.relative {
  position: relative !important;
}

.cursor-pointer {
  cursor: pointer;
}

.h-100 {
  height: 100%;
}

.p-0 {
  padding: 0 !important;
}

.center-center {
  display: grid;
  place-items: center;
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

p.sm {
  font-size: 10px;
  line-height: 1.3;
}

// removing the chrome default autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1e1e1e inset !important;
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #fff !important;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;

  background: transparent !important;
}

h1 {
  @media (max-width: 600px) {
    font-size: 1.5rem;
  }
}
